.popup {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 0;
  right: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: 1px solid #ddd;
  z-index: 2000;
}
header,
footer {
  height: 40px;
}
body {
  height: 100px;
}
.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: 1px solid green;
  font-size: 17px;
  line-height: 20px;
}
.container {
  position: absolute;
  top: 12px;
  right: 12px;
  overflow-y: auto;
  width: 300px;
  border: 1px solid black;
}
